.container {
  width: 100%;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-right: 120px;
    padding-left: 120px;
  }
}
