.threeDots {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.rotatingLines {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .threeDots {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .threeDots {
    width: 80px;
    height: 80px;
  }
}
