.section {
  background-image:
    image-set(
      url("../../assets/images/background/homePage/mobile/bottleMob.png") 1x,
      url("../../assets/images/background/homePage/mobile/bottleMob@2x.png") 2x
    ),
    image-set(
      url("../../assets/images/background/homePage/mobile/bubbleMob.png") 1x,
      url("../../assets/images/background/homePage/mobile/bubbleMob@2x.png") 2x
    );

  background-size:
    280px 208px,
    auto;
  background-position:
    left 50% top 104px,
    left 50% top 52px;
  background-repeat: no-repeat;
  background-attachment: local;
  padding-top: 24px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    background-image:
      url-set(
        url("../../assets/images/background/homePage/tablet/bottleTabl.png") 1x,
        url("../../assets/images/background/homePage/tablet/bottleTabl@2x.png")
          2x
      ),
      image-set(
        url("../../assets/images/background/homePage/tablet/bubbleTablet.png")
          1x,
        url("../../assets/images/background/homePage/tablet/bubbleTablet@2x.png")
          2x
      );
    background-position:
      left 50% top 38px,
      left 50% top 24px;
    background-size:
      518px 386px,
      auto;
    padding-top: 40px;
    padding-bottom: 44px;
  }

  @media screen and (min-width: 1440px) {
    background-image:
      url-set(
        url("../../assets/images/background/homePage/desktop/bottleDesc.png") 1x,
        url("../../assets/images/background/homePage/desktop/bottleDesc@2x.png")
          2x
      ),
      image-set(
        url("../../assets/images/background/homePage/desktop/bubbleDesk.png") 1x,
        url("../../assets/images/background/homePage/desktop/bubbleDesk@2x.png")
          2x
      );
    background-position:
      left calc(50% - 310px) top 44px,
      left 50% top 54px;
    background-size:
      738px 548px,
      auto;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
